@use "forwards";

* {
  @include forwards.defaultZise;
}

ul {
  @include forwards.flexBox(center, row);
  list-style: none;
}
li {
  padding: 7px;
  span {
    font-weight: 900;
  }
}

//animation and @mixin
/* .test {
  background: rgb(213, 224, 123);

  @include keyframes(fade) {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
  }

  @include animate(fade, 1s, linear, 1);
}
 */

/* animation-duration: $duration;
animation-iteration-count: infinite; */

.test {
  /*  background: rgb(70, 100, 71); */
  color: rgb(158, 160, 163);
  font-weight: 900;
  font-size: 1.5em;
  /*   width: 5rem;
  height: 15vh; 
  border: 1px solid rgb(177, 174, 174);
  border-radius: 3rem;*/
  position: relative; // Krävs för animationen att fungera
  animation: form 7s linear 0.1s infinite alternate;
  @include forwards.keyframes(form) {
    from {
      transform: translateX(15vw);
    }
    to {
      transform: translateX(59vw);
    }
  }
}

.btnV7Fr {
  font-size: 1em;
  text-align: center;
  margin-top: 1em;
  button {
    padding: 5px 7px;
  }
}

.form {
  @include forwards.flexBox(center, column);
  padding: 5rem 1em;
  input {
    padding: 5px 1em;
    border-radius: 1em;
  }
  button {
    padding: 3px 0.5em;
    border-radius: 1em;
    cursor: pointer;
    margin-top: 0.5em;
    &:hover {
      background: rgb(11, 141, 46);
      color: #fff;
    }
  }
}
