@mixin flexBox($justify, $direction) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: center;
  flex-wrap: wrap;
}

@mixin defaultZise {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
